@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body,
* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#deeac3;
  text-align: center
}

h1 {
font-family: 'Poppins', sans-serif;
font-size: 60px;
margin: 10px;
color: #03242f;

}

#subheading{
  font-family: 'Spectral', serif;
  font-size: 28px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom:40px;
  color:#668e6a;
}

.post-whole {
  align-items: center;
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-bottom:10px;
  position:relative;
} 

.post-title{
  font-family: 'Spectral', serif;
  font-size:35px;
  background-color:#77abbe;
  color: #033c52;
  padding: 20px;
}

.post-body {
  background-color: white;
  padding: 10px;
  font-family:'DM Sans', sans-serif;
}
.post-link {
  background-color: white;
  font-size:20px;

}
.bird-picture {
  width: 980px;
}

#migration-icon{
  position:absolute;
  width: 8.5%;
  top: 5.5px;
  left:45px;
  background-color: #77abbe;
}
